<div class="aventura">
	<div class="company-header">
		<h1>Aventura</h1>
		<div class="divider-container title">
			<div class="divider"></div>
			<div class="divider-ellipse"></div>
		</div>
		<div class="company-description">
			<span>Windows application with web-based frontend for use by a clinician.  The dashboard application displays core measures that have yet to be completed for a given patient.  Technology: C#, Ember JS, SASS</span>
		</div>
		<div class="fullscreen-screenshot">
			<img class="measures" src="/assets/images/PAD_MeasuresAndApps.png">
		</div>
		<div class="fullscreen-screenshot">
			<img class="admin" src="/assets/images/Locations.png">
		</div>
	</div>
</div>