<div class="enigami">
	<div class="company-header">
		<h1>Enigami</h1>
		<div class="divider-container title">
			<div class="divider"></div>
			<div class="divider-ellipse"></div>
		</div>
		<div class="company-description">
			<span>Responsive web application for use by patients to track medications for various conditions.  The step-by-step wizard for creating an account and the day-by-day symptom tracking dashboard are shown below.  Technology: Twitter Bootstrap, LESS.</span>
		</div>
		<div class="fullscreen-screenshot">
			<img class="screenshot" src="/assets/images/Enigami-CreateAccount.png">
		</div>
		<div class="fullscreen-screenshot">
			<img class="screenshot" src="/assets/images/Enigami-Dashboard.png">
		</div>
	</div>
</div>