<div class="spigot">
	<div class="company-header">
		<h1>Spigot Labs</h1>
		<div class="divider-container title">
			<div class="divider"></div>
			<div class="divider-ellipse"></div>
		</div>
		<div class="company-description">
			<span>Web application designed and implemented to give job fair vendors a dashboard view of all candidates who visited their booth. Technology: Ember JS, SASS</span>
		</div>
		<div class="row">
			<div class="fullscreen-screenshot">
				<img class="screenshot" src="/assets/images/Spigot-MainEventPage_v4.jpg">
			</div>
		</div>
	</div>
</div>