<div class="tapigo">
	<div class="company-header">
		<h1>Tapigo</h1>
		<div class="divider-container title">
			<div class="divider"></div>
			<div class="divider-ellipse"></div>
		</div>
		<div class="company-description">
			<span>Mobile applications designed to streamline the irrigation maintenance process.  5 mobile applications in total work together to aide in surveying and inspecting properties, approving and working service items, and invoicing the customer.  Technology: Sencha Touch, SASS, Twitter Bootstrap, Angular JS.  Live website: www.tapigo.com.</span>
		</div>
		<div class="row mobile-screenshots">
			<div class="col-md-4">
				<img class="screenshot" src="/assets/images/Login.png">
			</div>
			<div class="col-md-4">
				<img class="screenshot" src="/assets/images/Map.png">
			</div>
			<div class="col-md-4">
				<img class="screenshot" src="/assets/images/ServicesTab.png">
			</div>
		</div>
		<div class="divider-container">
			<div class="divider"></div>
			<div class="divider-ellipse"></div>
		</div>
		<div class="row website-screenshots">
			<div class="col-md-9 desktop-screenshot">
				<img class="screenshot" src="/assets/images/Website-Comp-desktop-final.png">
			</div>
			<div class="col-md-3 ipad-screenshot">
				<img class="screenshot" src="/assets/images/Website-Comp-ipad-final.png">
			</div>
		</div>
		<div class="divider-container">
			<div class="divider"></div>
			<div class="divider-ellipse"></div>
		</div>
		<div class="row">
			<div class="fullscreen-screenshot">
				<img class="screenshot" src="/assets/images/Properties-Inactive.png">
			</div>
		</div>
	</div>
</div>